<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Contact</h3>
    {% for contact in site.data.settings.contacts %}
    <div class="row g-5 mb-5">
      <div class="col-md-6">
    <div class="social-icons">
      <a href="https://github.com/rinajames" target="_blank" aria-label="GitHub">
        <i class="fab fa-github"></i>
      </a>
      <a href="https://scholar.google.com/citations?user=rhXcIq4AAAAJ&hl=en" target="_blank" aria-label="Google Scholar">
        <i class="fas fa-graduation-cap"></i>
      </a>
      <a href="https://linkedin.com/in/rinajames" target="_blank" aria-label="LinkedIn">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="mailto:rinajamesmx@gmail.com" aria-label="Email">
        <i class="fas fa-envelope"></i>
      </div>
      <div class="col-md-6">
        <img src="{{ site.github.url }}/{{ contact.image }}" alt="Contact" width="100%">
      </div>
    </div>
    {% endfor %}
  </div>
</div>
