<footer class="pt-5 my-5 text-muted border-top">
  <div class="row">
    <div class="col-md-6 text-end social-media-icons">
      {% for item in site.data.settings.social %}
        <a href="{{ item.link }}" 
           class="ms-3 fs-5" 
           target="{% unless item.link contains 'mailto:' %}_blank{% endunless %}" 
           rel="{% unless item.link contains 'mailto:' %}noopener{% endunless %}" 
           title="{{ item.icon | capitalize }}">
          <i class="{% if item.icon == 'envelope' %}fas{% else %}fab{% endif %} fa-{{ item.icon }}"></i>
        </a>
      {% endfor %}
    </div>
  </div>
</footer>
